/* =========================================
   VARIABLES Y GLOBAL
========================================= */
:root {
  --primary-color: #000;
  --danger-color: #ed372e;
}
*{
   -webkit-tap-highlight-color: transparent;
   font-feature-settings: "cv07";
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin: 0;
  background: #fff;
  color: #111;
}

.material-symbols-rounded {
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0;
   color: #000;
   font-size: 26px;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.del{
   color:#ed372e;
}
.tache{
   font-size: 20px;
   color: #888;
}
header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  padding-top: 20px;
  padding-bottom: 0px;
  background: #ffffff61;
  top: 0;               /* pegado al top */
  z-index: 100;         /* encima del contenido */
  backdrop-filter: blur(12px);
}

header h1 {
  margin: 0px 0px 10px 24px;
  font-size: 32px;
  letter-spacing: -0.5px;
  font-weight: 700;
}

input::placeholder,
textarea::placeholder {
  color: #797979; 
  opacity: 1;
}
input, textarea {
  caret-color: #333;
}
header div {
   margin: 0;
   margin-left: auto;
   display: flex;
   gap: 0.5rem;
   margin-right:14px;
}
header input#searchInput {
  font-size: 16px;
  background-color: #00000006;
  border-radius: 14px;
  border: none;
  color: #000000;
  caret-color: #444;
  width: 100%;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  outline: none;
  flex: 1;
}
p{
   padding-top: 0;
   margin: 0;
}
.divsup{
   display: flex;
   width: 100%;
   box-sizing: border-box;
   justify-content: space-between;
   margin: 0;
}
.highlight {
  background-color: rgb(255, 244, 211);
  color: #6f4d04;
  border-radius: 5px;
}
.supbar{
   width: 100%;
   box-sizing: border-box;
   justify-content: space-between;
   display: flex;
   flex-direction: column;
   margin: 0;
   background-color: transparent;
   padding-bottom: 10px ;
}
button {
  font-size: 17px;
  border: none;
  background: none;
  cursor: pointer;
}

/* =========================================
   ENTRADAS
========================================= */
main {
  padding: 0px 0px 0px 50px;
  font-size: 17px;
  line-height: 26px;
}

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 17px;
   color: #333333;
}
small{
   color: #828282;
   margin-bottom: 0;
}
.entry {
   margin-top: 13px;
   margin-left: -16px; /* conserva tu margen izquierdo */
   padding-right: 30px;
}
.entry div {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* 🔹 número de líneas visibles */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: "ellipsis";
  margin-bottom: 20px;
  color: #555;
}

/* Corregir hr que sigue a .entry */
hr {
   margin-left: 0px;
   margin-right: 0;
   border: none;
   border-bottom: 1px solid #e0e0e0;
   opacity: 0.7;
}


/* =========================================
   SHEET ESTILO iOS
========================================= */
#sheet {
  position: fixed;
  background-color: #fff;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  transform: translateY(0%);
  opacity: 0;
  transition: transform 0.3s cubic-bezier(0,.85,.49,1.04);
  pointer-events: none;
  z-index: 1000;
  
}

#sheet.visible {
  opacity: 1;
  pointer-events: all;
}

/* SHEET CONTENT */
.sheet-content {
  background: transparent;
  width: 100%;
  height: 98%; /* casi full-screen */
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(0,1.21,.32,1), opacity 0.6s ease;
  box-shadow: 0 0px 20px rgba(0,0,0,0.1);
}

#sheet.visible .sheet-content {
  transform: translateY(0);
  opacity: 1;
}

/* HEADER DE SHEET */
.sheet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 30px;
  padding: 1rem;
  background: #00000000;
  position: sticky;
  top: 0;
  z-index: 10;
}

.sheet-header h2 {
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  flex: 1;
  color: #111;
}

.sheet-header button {
  font-size: 16px;
  font-weight: 450;
  color:#444;
  background: #f6f6f6;
  padding: 10px 16px;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* BODY SHEET */
.sheet-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  opacity: 0;
  background-color: transparent;
  transition: opacity 0.1s ease;
}

#sheet.visible .sheet-body {
  opacity: 1;
}

/* INPUTS Y TEXTAREA */
input, textarea {
  width: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin-bottom: 1px;
  resize: none;
  background: #fff;
  padding: 0.5rem 0;
}

.title{
   background-color: #fff;
   box-sizing: border-box;
  height: 42px;
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 670;
  color:#444444
}
.title::placeholder{
  color:#b9b9b9
}

.textarea {
   background-color: #fff;
   box-sizing: border-box;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 17.5px;
  line-height: 27px;
  color:#464646
}

.danger {
   position: absolute;
  color: var(--danger-color);
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 450;
  margin-top: auto;
  padding: 18px;
  border-radius: 50%;
  background: #ffeaeab7;
  bottom: 0;
  backdrop-filter: blur(10px);
}

/* SCROLL SUAVE */
.sheet-body::-webkit-scrollbar {
  width: 5px;
}

.sheet-body::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: 5px;
}

.sheet-body::-webkit-scrollbar-track {
  background: transparent;
}
.search-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}

.search-wrapper input {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #f6f6f6;
  padding: 12px 24px;
  border-radius: 14px;
  border: none;
  color: #000;
  caret-color: #444;
  outline: none;
}

#clearSearch {
  position: absolute;
  padding: 0px;
  margin: 0;
  right: 34px; 
  font-size: 20px;
  color: #888;
  cursor: pointer;
  display: none; /* se muestra solo si hay texto */
  user-select: none;
}
.danger-zone{
   width: 100%;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
}

/* Tema oscuro (cuando el dispositivo está en modo oscuro) */
@media (prefers-color-scheme: dark) {
   body { background: #1a1a1a; color: #f9f9f9; }

   .material-symbols-rounded { color: #f0f0f0; }
   .del { color: #ed372e; }
   .tache { color: #888; }

   header { background: #1a1a1aa1; }
   header input#searchInput {
   background-color: #ffffff07;
   color: #ffffff;
   caret-color: #f6f6f6;
   }

   input::placeholder,
   textarea::placeholder { color: #797979; }
   h3 { color: #f6f6f6; }
   small { color: #666666; }
   .entry div { color: #dedede; }

   hr { border-bottom: 1px solid #2e2e2e; }

   .highlight {
   background-color: rgb(255, 244, 211);
   color: #6f4d04;
   }

   .sheet-content { box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1); }
   .sheet-header h2 { color: #111; }
   .sheet-header button {
   color: #444;
   background: #f6f6f6;
   }
   input, textarea {
   caret-color: #333;
   background: #00000000;
   }
   .title {
   background-color: #ffffff00;
   color: #d3d3d3;
   }
   .title::placeholder { color: #ffffff34; }

   .textarea {
   background-color: #ffffff00;
   color: #d3d3d3;
   }

   .danger {
   background: #292929b7;
   }

#sheet {
  position: fixed;
  background-color: #0b0b0b;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  transform: translateY(0%);
  opacity: 0;
  transition: transform 0.3s cubic-bezier(0,.85,.49,1.04);
  pointer-events: none;
  z-index: 1000;
  
}

/* SHEET CONTENT */
.sheet-content {
  background: #212121;
  width: 100%;
  height: 98%; /* casi full-screen */
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(0,1.21,.32,1), opacity 0.6s ease;
  box-shadow: 0 0px 20px rgba(0,0,0,0.1);
}

#sheet.visible .sheet-content {
  transform: translateY(0);
  opacity: 1;
}

/* HEADER DE SHEET */
.sheet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 30px;
  padding: 1rem;
  background: #00000000;
  position: sticky;
  top: 0;
  z-index: 10;
}

.sheet-header h2 {
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  flex: 1;
  color: #fcfcfc;
}

.sheet-header button {
  font-size: 16px;
  font-weight: 450;
  color:#aaaaaa;
  background: #2a2a2a;
  padding: 10px 16px;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* BODY SHEET */
.sheet-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  opacity: 0;
  background-color: transparent;
  transition: opacity 0.1s ease;
}

.del{
   color:#e87272;
}
}
